In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import io
import requests
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
import tensorflow.keras as keras

In [2]:
dataset_train = pd.read_csv('NSE-TATAGLOBAL.csv')
training_set = dataset_train.iloc[:, 1:2].values

dataset_train.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2018-09-28,234.05,235.95,230.20,233.50,233.75,3069914,7162.35
1,2018-09-27,234.55,236.80,231.10,233.80,233.25,5082859,11859.95
2,2018-09-26,240.00,240.00,232.50,235.00,234.25,2240909,5248.60
3,2018-09-25,233.30,236.75,232.00,236.25,236.10,2349368,5503.90
4,2018-09-24,233.55,239.20,230.75,234.00,233.30,3423509,7999.55

In [3]:
sc = MinMaxScaler(feature_range = (0,1))
training_set_scaled = sc.fit_transform(training_set)

In [4]:
x_train = []
y_train = []

for i in range(60, 2035):
    x_train.append(training_set_scaled[i-60:i, 0])
    y_train.append(training_set_scaled[i, 0])

x_train, y_train = np.array(x_train), np.array(y_train)

x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 1))

In [7]:
x_train.shape

(1975, 60, 1)

In [6]:
data = np.array([data, data*2])

NameError: name 'data' is not defined

In [28]:
data.shape

(2, 2, 10)

In [29]:
data

array([[[0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ],
        [0.2, 0.4, 0.6, 0.8, 1. , 1.2, 1.4, 1.6, 1.8, 2. ]],

       [[0.2, 0.4, 0.6, 0.8, 1. , 1.2, 1.4, 1.6, 1.8, 2. ],
        [0.4, 0.8, 1.2, 1.6, 2. , 2.4, 2.8, 3.2, 3.6, 4. ]]])

In [11]:

data = np.array([
	[0.1, 1.0],
	[0.2, 0.9],
	[0.3, 0.8],
	[0.4, 0.7],
	[0.5, 0.6],
	[0.6, 0.5],
	[0.7, 0.4],
	[0.8, 0.3],
	[0.9, 0.2],
	[1.0, 0.1]])

In [12]:
data = data.reshape(1, 10, 2)

In [13]:
print(data.shape)

(1, 10, 2)

In [14]:
print(data)

[[[0.1 1. ]
  [0.2 0.9]
  [0.3 0.8]
  [0.4 0.7]
  [0.5 0.6]
  [0.6 0.5]
  [0.7 0.4]
  [0.8 0.3]
  [0.9 0.2]
  [1.  0.1]]]

In [22]:
model = keras.Sequential([
    keras.layers.LSTM(32, input_shape=data.shape[1:]),
    keras.layers.Dense(1)
])

In [2]:
!pip install kaggle

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: kaggle in /rhome/ttadayon/.local/lib/python3.5/site-packages (1.5.6)
Requirement already satisfied: requests in /usr/lib/python3/dist-packages (from kaggle) (2.12.4)
Requirement already satisfied: certifi in /rhome/ttadayon/.local/lib/python3.5/site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: six>=1.10 in /usr/lib/python3/dist-packages (from kaggle) (1.10.0)
Requirement already satisfied: python-slugify in /rhome/ttadayon/.local/lib/python3.5/site-packages (from kaggle) (4.0.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /rhome/ttadayon/.local/lib/python3.5/site-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/lib/python3/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: tqdm in /rhome/ttadayon/.local/lib/python3.5/site-packages (from kaggle) (4.47.0)
Requirement already satisfied: text-unidecode>=1.3 in /rhome/ttadayon/.local/lib/python3.5/site-packages (from python-slugify->kaggle) (1.3)

kaggle datasets download -d paulbrabban/daily-minimum-temperatures-in-melbourne

In [1]:
kaggle datasets download -d paulbrabban/daily-minimum-temperatures-in-melbourne

SyntaxError: invalid syntax (<ipython-input-1-36a7cf784512>, line 1)

In [3]:
import kaggle

ModuleNotFoundError: No module named 'kaggle'